<div class="buttons-wrapper">
    <a href="/" class="logo">CUTREPASTE</a>
    <div class="buttons">
        <a href="/login" class="btn">Log-in</a>
        <a href="/signin" class="btn">Sign-in</a>
    </div>
    <div class="buttons">
        Private? <input type="checkbox" id="is-private" name="is_private" value="is_private">
    </div>
    <div class="buttons">
        <a href="/" class="btn">Clear</a>
        <button class="btn" type="submit">Save</button>
    </div>
</div>